<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudskol.moviedroid">

    <!-- Permission configuration -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".details.DetailActivity"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".settings.MovieSettingsActivity"
            android:label="@string/title_activity_movie_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".trailer.TrailerActivity"
            android:label="@string/title_activity_movie_trailers"
            android:parentActivityName=".details.DetailActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".details.DetailActivity" />
        </activity>

        <activity android:name=".review.ReviewActivity"
            android:label="@string/title_activity_movie_reviews"
            android:parentActivityName=".details.DetailActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".details.DetailActivity" />
        </activity>

        <activity android:name=".favorite.FavoritesActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".details.DetailActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".details.DetailActivity" />
        </activity>

        <provider
            android:authorities="com.cloudskol.moviedroid"
            android:name=".provider.MovieProvider" />

        <!--<activity
            android:name="com.cloudskol.moviedroid.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cloudskol.moviedroid.movies.MoviesActivity"
            android:label="@string/title_activity_spotify"
            android:parentActivityName="com.cloudskol.moviedroid.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudskol.moviedroid.MainActivity" />
        </activity>-->

        <!--<activity
            android:name=".list.MoviesActivity"
            android:label="@string/title_activity_movies"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".details.MovieDetailsActivity"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName=".list.MoviesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".list.MoviesActivity" />
        </activity>
        <activity
            android:name=".settings.MovieSettingsActivity"
            android:label="@string/title_activity_movie_settings"
            android:parentActivityName=".list.MoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".list.MoviesActivity" />
        </activity>-->
    </application>

</manifest>
